/* Your styles goes here. */
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    max-width: 600;
    margin: "0 auto";
    padding: 16;
    height: 400px;
}

section {
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hit {
    border: 1px solid gray;
}